01-data-ingestion-workflow.json
{
  "name": "Quantitative Trading Engine - Market Data Ingestion",
  "nodes": [
    {
      "name": "Trigger - Every 5 minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "cronExpression": "*/5 * * * *",
        "timezone": "UTC"
      }
    },
    {
      "name": "Generate Run ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0],
      "parameters": {
        "jsCode": "const run_id = 'INGEST-' + Date.now() + '-' + Math.random().toString(36).substring(7);\nreturn { run_id, timestamp: new Date().toISOString() };"
      }
    },
    {
      "name": "Fetch Symbols List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0],
      "parameters": {
        "jsCode": "// Predefined symbols for trading engine\nconst symbols = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA', 'META', 'NVDA', 'JPM', 'BAC', 'WFC', 'XOM', 'CVX', 'MCD', 'NKE', 'COST'];\nreturn symbols.map(s => ({ symbol: s }));"
      }
    },
    {
      "name": "HTTP Request - Alpha Vantage Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [600, 0],
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query",
        "qs": "function=GLOBAL_QUOTE&symbol={{$json.symbol}}&apikey={{$env.ALPHA_VANTAGE_API_KEY}}",
        "returnFullResponse": false
      },
      "onError": "continueRegardless"
    },
    {
      "name": "Transform Price Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "parameters": {
        "jsCode": "// Extract and normalize price data\nconst data = $input.all();\nconst timestamp = new Date().getTime();  // Use Unix timestamp (milliseconds)\nreturn data.map(item => {\n  const symbol = item.json.symbol;\n  const priceData = item.json.body || item.json || {};\n  \n  // Handle both Alpha Vantage and other API formats\n  const globalQuote = priceData['Global Quote'] || priceData;\n  \n  return {\n    symbol: symbol,\n    timestamp: timestamp,\n    close: parseFloat(globalQuote['05. price'] || globalQuote.close || 0) || 0,\n    volume: parseInt(globalQuote['06. volume'] || globalQuote.volume || 0) || 0,\n    open: parseFloat(globalQuote['02. open'] || globalQuote.open || 0) || 0,\n    high: parseFloat(globalQuote['03. high'] || globalQuote.high || 0) || 0,\n    low: parseFloat(globalQuote['04. low'] || globalQuote.low || 0) || 0,\n    ingestion_run_id: $json.run_id\n  };\n}).filter(d => d.close > 0);"
      }
    },
    {
      "name": "Insert into PostgreSQL market_prices",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1000, 0],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO market_prices (symbol, timestamp, close, volume, open, high, low, ingestion_run_id) VALUES {{$json | map('[symbol, timestamp, close, volume, open, high, low, ingestion_run_id]') | join('), (')}} ON CONFLICT (symbol, timestamp) DO UPDATE SET close=EXCLUDED.close, volume=EXCLUDED.volume;",
        "datasource": "PostgreSQL"
      }
    },
    {
      "name": "Log Ingestion Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1200, 0],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ingestion_logs (run_id, timestamp, status, records_inserted, error_message) VALUES ('{{$json.run_id}}', '{{$json.timestamp}}', 'success', {{$input.all().length}}, NULL);",
        "datasource": "PostgreSQL"
      }
    },
    {
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200],
      "parameters": {
        "jsCode": "// Log error for manual review\nreturn { status: 'failed', error: $error.message, run_id: $json.run_id, timestamp: new Date().toISOString() };"
      },
      "onError": "stopExecution"
    }
  ],
  "connections": {
    "Trigger - Every 5 minutes": {
      "main": [[{ "node": "Generate Run ID", "branch": 0, "index": 0 }]]
    },
    "Generate Run ID": {
      "main": [[{ "node": "Fetch Symbols List", "branch": 0, "index": 0 }]]
    },
    "Fetch Symbols List": {
      "main": [[{ "node": "HTTP Request - Alpha Vantage Prices", "branch": 0, "index": 0 }]]
    },
    "HTTP Request - Alpha Vantage Prices": {
      "main": [[{ "node": "Transform Price Data", "branch": 0, "index": 0 }]]
    },
    "Transform Price Data": {
      "main": [[{ "node": "Insert into PostgreSQL market_prices", "branch": 0, "index": 0 }]]
    },
    "Insert into PostgreSQL market_prices": {
      "main": [[{ "node": "Log Ingestion Status", "branch": 0, "index": 0 }]]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "errorHandler": "Error Handler"
  },
  "active": false
}
