01-data-ingestion-workflow.json
{
  "name": "Quantitative Trading Engine - Market Data Ingestion",
  "nodes": [
    {
      "name": "Trigger - Every 5 minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "cronExpression": "*/5 * * * *",
        "timezone": "UTC"
      }
    },
    {
      "name": "Generate Run ID",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [200, 0],
      "parameters": {
        "functionCode": "const run_id = 'INGEST-' + Date.now() + '-' + Math.random().toString(36).substring(7); return [{json: {run_id, timestamp: new Date().toISOString()}}];"
      }
    },
    {
      "name": "Generate Symbols List",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 0],
      "parameters": {
        "functionCode": "const symbols = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA', 'META', 'NVDA', 'JPM', 'BAC', 'WFC', 'XOM', 'CVX', 'MCD', 'NKE', 'COST']; return symbols.map(s => ({json: {symbol: s}}));"
      }
    },
    {
      "name": "Fetch Alpha Vantage Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [600, 0],
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={{$json.symbol}}&apikey={{$env.ALPHA_VANTAGE_API_KEY}}&outputsize=full",
        "returnFullResponse": false
      },
      "onError": "continueRegardless"
    },
    {
      "name": "Transform Price Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [800, 0],
      "parameters": {
        "functionCode": "return items.map(item => {const symbol = item.json.symbol; const response = item.json; const timeSeries = response['Time Series (Daily)'] || {}; const dates = Object.keys(timeSeries).sort().reverse(); if (dates.length === 0) return null; const latestDate = dates[0]; const priceData = timeSeries[latestDate]; return {json: {symbol: symbol, timestamp: new Date().toISOString(), close: parseFloat(priceData['4. close']) || 0, volume: parseInt(priceData['5. volume']) || 0, open: parseFloat(priceData['1. open']) || 0, high: parseFloat(priceData['2. high']) || 0, low: parseFloat(priceData['3. low']) || 0}};}).filter(d => d && d.json.close > 0);"
      }
    },
    {
      "name": "Format Prices for Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1000, 0],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "0",
              "name": "prices_data",
              "type": "expression",
              "value": "={{$json}}"
            }
          ]
        }
      }
    },
    {
      "name": "Log Ingestion",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1200, 0],
      "parameters": {
        "functionCode": "const count = items.length; console.log(`[INGEST] Processed ${count} price records at ${new Date().toISOString()}`); return [{json: {status: 'success', records_processed: count, timestamp: new Date().toISOString()}}];"
      }
    }
  ],
  "connections": {
    "Trigger - Every 5 minutes": {
      "main": [[{"node": "Generate Run ID", "branch": 0, "index": 0}]]
    },
    "Generate Run ID": {
      "main": [[{"node": "Generate Symbols List", "branch": 0, "index": 0}]]
    },
    "Generate Symbols List": {
      "main": [[{"node": "Fetch Alpha Vantage Data", "branch": 0, "index": 0}]]
    },
    "Fetch Alpha Vantage Data": {
      "main": [[{"node": "Transform Price Data", "branch": 0, "index": 0}]]
    },
    "Transform Price Data": {
      "main": [[{"node": "Format Prices for Output", "branch": 0, "index": 0}]]
    },
    "Format Prices for Output": {
      "main": [[{"node": "Log Ingestion", "branch": 0, "index": 0}]]
    }
  },
  "settings": {
    "saveExecutionProgress": true
  },
  "active": false
}
