04-portfolio-aggregator-workflow.json
{
  "name": "Quantitative Trading Engine - Portfolio Aggregator",
  "nodes": [
    {
      "name": "Trigger - Every Hour",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "cronExpression": "0 * * * *",
        "timezone": "UTC"
      }
    },
    {
      "name": "Load All Positions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [200, 0],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM paper_positions;",
        "datasource": "PostgreSQL"
      }
    },
    {
      "name": "Load Trade History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [200, 100],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM trade_log ORDER BY timestamp DESC LIMIT 1000;",
        "datasource": "PostgreSQL"
      }
    },
    {
      "name": "Calculate Portfolio Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 50],
      "parameters": {
        "jsCode": "const positionsRaw = $('Load All Positions').all() || [];\nconst tradesRaw = $('Load Trade History').all() || [];\n\nconst positions = positionsRaw.map(p => p.json);\nconst trades = tradesRaw.map(t => t.json);\n\nconst initial_capital = 100000;\nlet total_portfolio_value = initial_capital;\nlet total_unrealized_pnl = 0;\nlet max_portfolio_value = initial_capital;\nlet portfolio_values = [initial_capital];\n\n// Sum unrealized PnL from positions\npositions.forEach(pos => {\n  if (pos.quantity && pos.quantity !== 0 && !pos.symbol.includes('_CLOSED')) {\n    total_unrealized_pnl += pos.unrealized_pnl || 0;\n  }\n});\n\n// Calculate realized PnL from closed trades\nlet realized_pnl = 0;\nconst buyTrades = {};\n\ntrades.forEach(trade => {\n  if (trade.side === 'BUY') {\n    if (!buyTrades[trade.symbol]) buyTrades[trade.symbol] = [];\n    buyTrades[trade.symbol].push(trade);\n  } else if (trade.side === 'SELL') {\n    if (buyTrades[trade.symbol] && buyTrades[trade.symbol].length > 0) {\n      const matchTrade = buyTrades[trade.symbol].shift();\n      const pnl = (trade.price - matchTrade.price) * trade.quantity;\n      realized_pnl += pnl;\n    }\n  }\n});\n\ntotal_portfolio_value = initial_capital + realized_pnl + total_unrealized_pnl;\nmax_portfolio_value = Math.max(...portfolio_values.concat(total_portfolio_value));\n\n// Calculate daily returns for Sharpe\nconst returns = [];\nfor (let i = 1; i < portfolio_values.length; i++) {\n  returns.push((portfolio_values[i] - portfolio_values[i-1]) / portfolio_values[i-1]);\n}\n\nconst mean_return = returns.length > 0 ? returns.reduce((a,b) => a+b) / returns.length : 0;\nconst variance = returns.length > 0 ? returns.reduce((sq, r) => sq + Math.pow(r - mean_return, 2), 0) / returns.length : 0;\nconst std_dev = Math.sqrt(variance);\nconst sharpe_ratio = std_dev > 0 ? (mean_return / std_dev) * Math.sqrt(252) : 0;\n\n// Max Drawdown\nlet max_drawdown = 0;\nlet peak = initial_capital;\nfor (let val of portfolio_values.concat(total_portfolio_value)) {\n  peak = Math.max(peak, val);\n  const drawdown = (val - peak) / peak;\n  max_drawdown = Math.min(max_drawdown, drawdown);\n}\n\n// Win Rate\nconst winningTrades = trades.filter(t => t.pnl > 0).length;\nconst totalTrades = trades.filter(t => t.side === 'SELL').length;\nconst win_rate = totalTrades > 0 ? (winningTrades / totalTrades) * 100 : 0;\n\n// CAGR\nconst cagr = ((total_portfolio_value - initial_capital) / initial_capital) * 100;\n\nreturn {\n  total_portfolio_value: Math.round(total_portfolio_value * 100) / 100,\n  total_unrealized_pnl: Math.round(total_unrealized_pnl * 100) / 100,\n  realized_pnl: Math.round(realized_pnl * 100) / 100,\n  sharpe_ratio: Math.round(sharpe_ratio * 100) / 100,\n  max_drawdown: Math.round(max_drawdown * 10000) / 100,\n  win_rate: Math.round(win_rate * 100) / 100,\n  cagr: Math.round(cagr * 100) / 100,\n  num_positions: positions.filter(p => p.quantity && p.quantity !== 0 && !p.symbol.includes('_CLOSED')).length,\n  num_trades: totalTrades,\n  timestamp: new Date().toISOString()\n};"
      }
    },
    {
      "name": "Insert Portfolio Summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [600, 50],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO portfolio_summary (total_portfolio_value, total_unrealized_pnl, realized_pnl, sharpe_ratio, max_drawdown, win_rate, cagr, num_positions, num_trades, timestamp) VALUES ({{total_portfolio_value}}, {{total_unrealized_pnl}}, {{realized_pnl}}, {{sharpe_ratio}}, {{max_drawdown}}, {{win_rate}}, {{cagr}}, {{num_positions}}, {{num_trades}}, '{{timestamp}}');",
        "datasource": "PostgreSQL"
      }
    },
    {
      "name": "Calculate Strategy Breakdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 200],
      "parameters": {
        "jsCode": "const positionsRaw = $('Load All Positions').all() || [];\nconst positions = positionsRaw.map(p => p.json);\nconst breakdown = {};\n\npositions.forEach(pos => {\n  const strategy = pos.strategy_type || 'unknown';\n  if (!breakdown[strategy]) {\n    breakdown[strategy] = { count: 0, total_value: 0, total_unrealized_pnl: 0 };\n  }\n  breakdown[strategy].count += 1;\n  breakdown[strategy].total_value += pos.position_value || 0;\n  breakdown[strategy].total_unrealized_pnl += pos.unrealized_pnl || 0;\n});\n\nreturn Object.keys(breakdown).map(strategy => ({\n  strategy_type: strategy,\n  num_positions: breakdown[strategy].count,\n  total_position_value: Math.round(breakdown[strategy].total_value * 100) / 100,\n  total_unrealized_pnl: Math.round(breakdown[strategy].total_unrealized_pnl * 100) / 100,\n  timestamp: new Date().toISOString()\n}));"
      }
    },
    {
      "name": "Insert Strategy Breakdown",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [600, 200],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO strategy_breakdown (strategy_type, num_positions, total_position_value, total_unrealized_pnl, timestamp) VALUES {{$json | map('[strategy_type, num_positions, total_position_value, total_unrealized_pnl, timestamp]') | join('), (')}} ON CONFLICT (strategy_type, timestamp) DO UPDATE SET num_positions=EXCLUDED.num_positions, total_position_value=EXCLUDED.total_position_value;",
        "datasource": "PostgreSQL"
      }
    }
  ],
  "connections": {
    "Trigger - Every Hour": {
      "main": [[{ "node": "Load All Positions", "branch": 0, "index": 0 }, { "node": "Load Trade History", "branch": 0, "index": 0 }]]
    },
    "Load All Positions": {
      "main": [[{ "node": "Calculate Portfolio Metrics", "branch": 0, "index": 0 }, { "node": "Calculate Strategy Breakdown", "branch": 0, "index": 0 }]]
    },
    "Load Trade History": {
      "main": [[{ "node": "Calculate Portfolio Metrics", "branch": 0, "index": 0 }]]
    },
    "Calculate Portfolio Metrics": {
      "main": [[{ "node": "Insert Portfolio Summary", "branch": 0, "index": 0 }]]
    },
    "Calculate Strategy Breakdown": {
      "main": [[{ "node": "Insert Strategy Breakdown", "branch": 0, "index": 0 }]]
    }
  },
  "settings": {
    "saveExecutionProgress": true
  },
  "active": false
}
