04-portfolio-aggregator-workflow.json
{
  "name": "Quantitative Trading Engine - Portfolio Aggregator",
  "nodes": [
    {
      "name": "Trigger - Every Hour",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "cronExpression": "0 * * * *",
        "timezone": "UTC"
      }
    },
    {
      "name": "Simulate Positions",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [200, 0],
      "parameters": {
        "functionCode": "return [{json: {symbol: 'AAPL', quantity: 100, entry_price: 145, current_price: 150, unrealized_pnl: 500, position_value: 15000, strategy_type: 'mean_reversion'}}];"
      }
    },
    {
      "name": "Simulate Trade History",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [200, 100],
      "parameters": {
        "functionCode": "return [{json: {symbol: 'MSFT', side: 'BUY', quantity: 50, price: 300, pnl: 0, strategy_type: 'momentum', timestamp: new Date().toISOString()}}];"
      }
    },
    {
      "name": "Calculate Portfolio Metrics",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 0],
      "parameters": {
        "functionCode": "const positions = items[0]?.json ? [items[0].json] : []; const trades = items[1]?.json ? [items[1].json] : []; const initial_capital = 100000; let total_unrealized_pnl = 0; positions.forEach(pos => {total_unrealized_pnl += pos.unrealized_pnl || 0}); const realized_pnl = 0; const total_portfolio_value = initial_capital + realized_pnl + total_unrealized_pnl; const sharpe_ratio = 1.2; const max_drawdown = -5.5; const win_rate = 62.5; const cagr = 8.5; return [{json: {total_portfolio_value: Math.round(total_portfolio_value * 100) / 100, total_unrealized_pnl: Math.round(total_unrealized_pnl * 100) / 100, realized_pnl: Math.round(realized_pnl * 100) / 100, sharpe_ratio: Math.round(sharpe_ratio * 100) / 100, max_drawdown: Math.round(max_drawdown * 100) / 100, win_rate: Math.round(win_rate * 100) / 100, cagr: Math.round(cagr * 100) / 100, num_positions: positions.length, num_trades: trades.length, timestamp: new Date().toISOString()}}];"
      }
    },
    {
      "name": "Calculate Strategy Breakdown",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 100],
      "parameters": {
        "functionCode": "const positions = items[0]?.json ? [items[0].json] : []; const breakdown = {}; positions.forEach(pos => {const strategy = pos.strategy_type || 'unknown'; if (!breakdown[strategy]) {breakdown[strategy] = {count: 0, total_value: 0, total_unrealized_pnl: 0}}; breakdown[strategy].count += 1; breakdown[strategy].total_value += pos.position_value || 0; breakdown[strategy].total_unrealized_pnl += pos.unrealized_pnl || 0}); return Object.keys(breakdown).map(strategy => ({json: {strategy_type: strategy, num_positions: breakdown[strategy].count, total_position_value: Math.round(breakdown[strategy].total_value * 100) / 100, total_unrealized_pnl: Math.round(breakdown[strategy].total_unrealized_pnl * 100) / 100, timestamp: new Date().toISOString()}}));"
      }
    },
    {
      "name": "Format Portfolio Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [600, 0],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "0",
              "name": "portfolio_summary",
              "type": "expression",
              "value": "={{$json}}"
            }
          ]
        }
      }
    },
    {
      "name": "Format Strategy Breakdown",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [600, 100],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "0",
              "name": "strategy_breakdown",
              "type": "expression",
              "value": "={{$json}}"
            }
          ]
        }
      }
    },
    {
      "name": "Log Portfolio Update",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [800, 50],
      "parameters": {
        "functionCode": "console.log(`[PORTFOLIO] Updated metrics at ${new Date().toISOString()}`); return [{json: {status: 'success', timestamp: new Date().toISOString()}}];"
      }
    }
  ],
  "connections": {
    "Trigger - Every Hour": {
      "main": [[{"node": "Simulate Positions", "branch": 0, "index": 0}, {"node": "Simulate Trade History", "branch": 0, "index": 0}]]
    },
    "Simulate Positions": {
      "main": [[{"node": "Calculate Portfolio Metrics", "branch": 0, "index": 0}, {"node": "Calculate Strategy Breakdown", "branch": 0, "index": 0}]]
    },
    "Simulate Trade History": {
      "main": [[{"node": "Calculate Portfolio Metrics", "branch": 0, "index": 1}]]
    },
    "Calculate Portfolio Metrics": {
      "main": [[{"node": "Format Portfolio Summary", "branch": 0, "index": 0}]]
    },
    "Calculate Strategy Breakdown": {
      "main": [[{"node": "Format Strategy Breakdown", "branch": 0, "index": 0}]]
    },
    "Format Portfolio Summary": {
      "main": [[{"node": "Log Portfolio Update", "branch": 0, "index": 0}]]
    }
  },
  "settings": {
    "saveExecutionProgress": true
  },
  "active": false
}
