05-dashboard-api-workflow.json
{
  "name": "Quantitative Trading Engine - Dashboard API",
  "nodes": [
    {
      "name": "Webhook - GET /dashboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "path": "trading-dashboard",
        "httpMethod": "GET",
        "responseMode": "responseNode"
      }
    },
    {
      "name": "Simulate Portfolio Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [200, 0],
      "parameters": {
        "functionCode": "return [{json: {total_value: 105234.50, unrealized_pnl: 5234.50, realized_pnl: 1200, sharpe_ratio: 1.45, max_drawdown: -8.32, win_rate: 62.5, cagr: 8.5, num_positions: 12, num_trades: 48}}];"
      }
    },
    {
      "name": "Simulate Top Movers",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [200, 100],
      "parameters": {
        "functionCode": "return [{json: {symbol: 'AAPL', pnl: 500, pnl_pct: 3.5, quantity: 100, entry_price: 145, current_price: 150, strategy: 'mean_reversion'}}];"
      }
    },
    {
      "name": "Simulate Signals",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [200, 200],
      "parameters": {
        "functionCode": "return [{json: {total_active: 8, by_strategy: {mean_reversion: 3, momentum: 3, statistical_arbitrage: 2}}}];"
      }
    },
    {
      "name": "Simulate Strategy Breakdown",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {
        "functionCode": "return [{json: {strategy: 'mean_reversion', positions: 5, value: 45000, unrealized_pnl: 2000}}];"
      }
    },
    {
      "name": "Simulate Recent Trades",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [200, 400],
      "parameters": {
        "functionCode": "return [{json: {symbol: 'MSFT', side: 'BUY', quantity: 50, price: 315, strategy: 'momentum', timestamp: new Date().toISOString()}}];"
      }
    },
    {
      "name": "Assemble Dashboard JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 200],
      "parameters": {
        "functionCode": "const portfolio = items[0]?.json || {}; const topMovers = items[1]?.json ? [items[1].json] : []; const signals = items[2]?.json || {}; const strategies = items[3]?.json ? [items[3].json] : []; const trades = items[4]?.json ? [items[4].json] : []; return [{json: {metadata: {timestamp: new Date().toISOString(), version: '1.0'}, portfolio: {total_value: portfolio.total_value || 100000, unrealized_pnl: portfolio.unrealized_pnl || 0, realized_pnl: portfolio.realized_pnl || 0, sharpe_ratio: portfolio.sharpe_ratio || 0, max_drawdown: portfolio.max_drawdown || 0, win_rate: portfolio.win_rate || 0, cagr: portfolio.cagr || 0, num_positions: portfolio.num_positions || 0, num_trades: portfolio.num_trades || 0}, top_movers: topMovers.slice(0, 5), signals_summary: {total_active: signals.total_active || 0, by_strategy: signals.by_strategy || {}}, strategy_breakdown: strategies, recent_trades: trades.slice(0, 10), system_status: 'running'}}];"
      }
    },
    {
      "name": "Respond with JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [600, 200],
      "parameters": {
        "responseCode": 200,
        "responseBinary": false,
        "responseBodyType": "json",
        "responseBody": "={{$json}}"
      }
    }
  ],
  "connections": {
    "Webhook - GET /dashboard": {
      "main": [[{"node": "Simulate Portfolio Data", "branch": 0, "index": 0}, {"node": "Simulate Top Movers", "branch": 0, "index": 0}, {"node": "Simulate Signals", "branch": 0, "index": 0}, {"node": "Simulate Strategy Breakdown", "branch": 0, "index": 0}, {"node": "Simulate Recent Trades", "branch": 0, "index": 0}]]
    },
    "Simulate Portfolio Data": {
      "main": [[{"node": "Assemble Dashboard JSON", "branch": 0, "index": 0}]]
    },
    "Simulate Top Movers": {
      "main": [[{"node": "Assemble Dashboard JSON", "branch": 0, "index": 1}]]
    },
    "Simulate Signals": {
      "main": [[{"node": "Assemble Dashboard JSON", "branch": 0, "index": 2}]]
    },
    "Simulate Strategy Breakdown": {
      "main": [[{"node": "Assemble Dashboard JSON", "branch": 0, "index": 3}]]
    },
    "Simulate Recent Trades": {
      "main": [[{"node": "Assemble Dashboard JSON", "branch": 0, "index": 4}]]
    },
    "Assemble Dashboard JSON": {
      "main": [[{"node": "Respond with JSON", "branch": 0, "index": 0}]]
    }
  },
  "settings": {
    "saveExecutionProgress": true
  },
  "active": false
}
